:root {
    --dark-purple: #74118C;
    --light-purple: #C445DE;
    --light-blue: #2CD3FF;
    --dark-blue: #00A8D4;
    --dark-pink: #FE5284;
    --light-pink: #ff6d96;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background: radial-gradient(100% 100% at 0% 0%, #f4c4ff 0%, #bdf2ff 100%);
}

a {
    text-decoration: none;
    color: white
}


/*Header do site*/

header {
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 53px;
    line-height: 78px;
    color: var(--dark-purple);
}

header h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    color: var(--light-purple)
}

header .header-icons a,
header .header-icons {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
}

header .header-icons a {
    color: var(--dark-pink)
}


/*Botões de navegação do site*/

.section-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-whatsapp a,
.section-cardapio a {
    width: 300px;
    height: 60px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: radial-gradient(100.08% 2321.33% at -0.09% 49.55%, var(--light-blue) 40.63%, var(--dark-blue) 100%);
    ;
    transition: 400ms;
}

.section-whatsapp a:hover,
.section-cardapio a:hover {
    background: radial-gradient(100.08% 2321.33% at -0.09% 49.55%, var(--light-pink) 40.63%, var(--dark-pink) 100%);
}

.section-whatsapp a span,
.section-cardapio a span {
    width: 60px;
    height: 60px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-whatsapp a span i,
.section-cardapio a span i {
    font-size: 23px;
}

.section-whatsapp a strong,
.section-cardapio a strong {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    color: white;
    flex: 1;
    text-align: center;
}


/*Logotipo*/

.section-logo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-logo img {
    width: 230px;
}


/*horario*/

h3 {
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    color: var(--dark-purple);
    text-align: center;
}


/*rodape*/

.copyright h5 {
    margin-top: 17px;
    color: var(--dark-purple);
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
}